
<div class="d-flex"><app-sidebar></app-sidebar>
    <div class="main-content w-100">
      <div class="supplier-list-container">
        <div class="header">
          <h2>All supplier</h2>
          <p>Manage your all supplier</p>
        </div>
  
        <div class="toolbar">
          <div class="toolbar-left">
            <button routerLink="/manager/supplierAdd" class="btn add-supplier">+ Add New supplier</button>
          </div>
          <div class="toolbar-right">
            <div class="form-group">
              <div class="d-flex align-items-center">
                <input type="text" class="form-control me-2" id="productname" [formControl]="name"
                (input)="filterSupplier()" placeholder="Type supplier name" />
              <button class="btn" (click)="search()">Search</button>
              </div>
              <ul *ngIf="filteredSupplier.length > 0" class="autocomplete-list">
                <li *ngFor="let supplier of filteredSupplier" (click)="search()" class="autocomplete-item">
                  {{ supplier.name }}
                </li>
              </ul>
            </div>
  
          </div>
        </div>
  
  
        <table class="data-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Supplier Name</th>
              <th>Contact Number</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let supplier of supplierList | paginate: { itemsPerPage: 10, currentPage: currentPage }">
              <td>{{ supplier.id }}</td>
              <td>{{ supplier.name }}</td>
              <td>{{ supplier.contact }}</td>
              <td style="text-align: center;">
                <a [routerLink]="['/manager/supplierEdit/', supplier.id]">
                  <button class="btn1">
                    <img src="assets/pen.png" alt="Edit" class="icon">
                  </button>
                </a>
                |
                <button class="btn1" (click)="deletesupplier(supplier.id)">
                  <img src="/assets/bin.png" alt="Delete" class="icon">
                </button>
              </td>
            </tr>
          </tbody>
        </table>
  
        <!-- Pagination Controls -->
        <div class="pagination-container">
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
  
      </div>
    </div>
