.main-content {
    padding: 20px;
    background-color: #f9f9f9; 
    min-height: calc(100vh - 70px); 
    box-sizing: border-box; 
  }
  
  .product-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Light background for the form */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
 
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .submit-button,
  .reset-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%; /* Ensure both buttons fit side by side */
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .reset-button {
    background-color: #f44336;
    color: white;
    border: none;
  }
  
  .reset-button:hover {
    background-color: #e53935;
  }
  