<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="main-content w-100">

<div class="bundle-product-list">
    <h2>Bundle Product List</h2>
    <p>Manage Your Bundle Products</p>
  
    <div class="filters">
      <div class="search-container">
        <input type="text" placeholder="Search" class="search-bar" />
        <button type="submit">Search</button>
      </div>      
      <button class="create-button" routerLink="/manager/bundleAdd">+ Create Bundle Product</button>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Bundle Name</th>
          <th>Barcode</th>
          <th>Vat</th>
          <th>Branch</th>
          <th>Stocks</th>
          <th>Quantity</th>
          <th>Sell Price</th>
          <th>Expired Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bundle of bundleList">
          <td>{{ bundle.id }}</td>
          <td>{{ bundle.name }}</td>
          <td>{{ bundle.barcode }}</td>
          <td>{{ bundle.vat }}</td>
          <td>{{ bundle.branch }}</td>
          <td>{{ bundle.stockStatus }}</td>
          <td>{{ bundle.quantity }}</td>
          <td>{{ bundle.sellPrice }}</td>
          <td>{{ bundle.expiredDate}}</td>
          <td>
          <a [routerLink]="['/manager/bundleEdit/', bundle.id]">
            <button class="btn1">
              <img src="assets/pen.png" alt="Edit" class="icon">
            </button>
          </a>
          |
          <button class="btn1" (click)="deletebundle(bundle.id)">
            <img src="/assets/bin.png" alt="Delete" class="icon">
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  
    </div>
</div>