
<div class="d-flex"><app-navbar></app-navbar>
  <div class="main-content w-100">
    <div class="product-list-container">
      <div class="header">
        <h2>Product Category Lists</h2>
        <p>Manage Your Category</p>
      </div>

      <div class="toolbar">
        <div class="toolbar-left">
          <button routerLink="/employee/productAdd" class="btn add-product">+ Add Product Category</button>
          <input type="date" placeholder="Date Range" class="date-range-input" />
        </div>
        <div class="toolbar-right">
          <input type="text" placeholder="Search" class="search-input" />
          <button class="btn">Search</button>

        </div>
      </div>


      <table class="data-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Category Name</th>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of catagoryList">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.description || '-' }}</td>
            <td><button class="action-btn">View</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>