
<div class="d-flex">
    <app-side-navbar></app-side-navbar>
    <div class="main-content w-100">
    <div class="container">
        <div class="header">
            <h2>Branch User Role & Permissions</h2>
            <button class="add-role-btn">Add New Role</button>
        </div>

        <table class="data-table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Branch</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList">
                  <td>{{ role.userName }}</td>
                  <td>{{ role.userFirstName }}</td>
                  <td>{{ role.userLastName }}</td>
                  <td>{{ role.roles }}</td>
                  <td>{{ role.branches }}</td>
                  <td style="text-align: center;">
                    <a [routerLink]="['/admin/roleEdit/', role.userName]">
                      <button class="btn1">
                        <img src="assets/pen.png" alt="Edit" class="icon">
                      </button>
                    </a>
                    |
                    <button class="btn1" (click)="delete(role.userName)">
                      <img src="/assets/bin.png" alt="Delete" class="icon">
                    </button>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
    </div>
</div>
