
<div class="d-flex">
    <app-side-navbar></app-side-navbar>
    <div class="main-content w-100">
    <div class="container">
        <div class="header">
            <h2>Branch User Role & Permissions</h2>
            <button class="add-role-btn">Add New Role</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>SI</th>
                    <th>ROLE NAME</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Branch Manager</td>
                    <td>
                        <button class="edit-btn">✏️</button>
                        <button class="permissions-btn">Permissions</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Branch Seller</td>
                    <td>
                        <button class="edit-btn">✏️</button>
                        <button class="permissions-btn">Permissions</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>test branch role</td>
                    <td>
                        <button class="edit-btn">✏️</button>
                        <button class="permissions-btn">Permissions</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
