.main-content {
    padding: 20px;
    background-color: #f9f9f9; 
    min-height: calc(100vh - 70px); 
    box-sizing: border-box; 
  }


.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

.add-role-btn {
    background-color: #7b5ef8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.add-role-btn:hover {
    background-color: #6848d5;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f1f1f1;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.edit-btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.permissions-btn {
    background-color: #d0c0ff;
    color: #5a32cc;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.permissions-btn:hover {
    background-color: #b5a0ff;
}
