<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="main-content w-100">
    <div class="bundle-product-list">
      <h2>Bundle Product List</h2>
      <p>Manage Your Bundle Products</p>
    
      <div class="filters">
        <div class="search-container">
          <input type="text" placeholder="Search" class="search-bar" />
          <button type="submit">Search</button>
        </div>     
        <button class="create-button" routerLink="/manager/offerAdd">+ Create Promotion</button> 
      </div>

      <table class="data-table">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Code</th>
            <th>Status</th>
            <th>Minimum Purchase</th>
            <th>Discount</th>
            <th>Maximum Discount</th>
            <th>Applied For</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Product Id</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coupon of offerList">
            <td>{{ coupon.id }}</td>
            <td>{{ coupon.name }}</td>
            <td>{{ coupon.barcode }}</td>
            <td>{{ coupon.status }}</td>
            <td>{{ coupon.minimumPurchase }}</td>
            <td>{{ coupon.discount }}</td>
            <td>{{ coupon.maximumDiscount }}</td>
            <td>{{ coupon.appliedFor }}</td>
            <td>{{ coupon.startDate }}</td>
            <td>{{ coupon.endDate }}</td>
            <td>{{ coupon.productId}}</td>
            <td style="text-align: center;">
              <a [routerLink]="['/manager/offerEdit/', coupon.id]">
                <button class="btn1">
                  <img src="assets/pen.png" alt="Edit" class="icon" />
                </button>
              </a>
              |
              <button class="btn1" (click)="deleteOffer(coupon.id)">
                <img src="assets/bin.png" alt="Delete" class="icon" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
