<div class="d-flex"><app-side-navbar></app-side-navbar>
  <div class="main-content w-100">
    <div class="container">
    <div class="header">
        <h2>All Coupons</h2>
        <p>Manage Your Coupons</p>
    </div>

    <div class="toolbar">
        <div class="toolbar-left">
            <button routerLink="/offerAdd" class="btn add-coupon">+ Create New Coupon</button>
        </div>
        <div class="toolbar-right">
            <input type="text" placeholder="Search" class="search-input" />
            <button class="btn">Search</button>
        </div>
</div>

    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Code</th>
          <th>Status</th>
          <th>Minimum Purchase</th>
          <th>Discount</th>
          <th>Maximum Discount</th>
          <th>Applied For</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coupon of offerList">
          <td>{{ coupon.id }}</td>
          <td>{{ coupon.name }}</td>
          <td>{{ coupon.code }}</td>
          <td>{{ coupon.status }}</td>
          <td>{{ coupon.minimumPurchase }}</td>
          <td>{{ coupon.discount }}</td>
          <td>{{ coupon.maximumDiscount }}</td>
          <td>{{ coupon.appliedFor }}</td>
          <td>{{ coupon.startDate }}</td>
          <td>{{ coupon.endDate }}</td>
          <td>
            <a [routerLink]="['/offerEdit/', coupon.id]">
              <button class="btn1">
                <img src="assets/pen.png" alt="Edit" class="icon">
              </button>
            </a>
            |
            <button class="btn1" (click)="deleteOffer(coupon.id)">
              <img src="/assets/bin.png" alt="Delete" class="icon">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
  
