<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="main-content w-100">
  
      <!-- Middle Section: Daily Sales & Return Summary for Branch Manager -->
      <div class="middle-section">
  
        <!-- Daily Section start -->
        <h2>Branch Sales & Customers</h2>
        <div class="content-box">
          <!-- Daily Sales -->
          <div class="daily-sales-section">
            <h3>Branch Sales & Return Summary</h3>
            <div class="filters">
              <input type="date" [(ngModel)]="selectedDate" />
            </div>
            <div class="summary-cards">
              <div class="card">
                <a href="/manager/SalesDetails">
                  <h4>{{ totalSales | number:'1.2-2' }}</h4>
                  <span>Total Sales</span>
                </a>
              </div>
              <div class="card">
                <a href="/manager/SalesDetails">
                  <h4>{{ totalSalesForMonth | number:'1.2-2' }}</h4>
                      <span>Sales This Month</span>
                </a>
              </div>
              <div class="card">
                <a href="/manager/SalesDetails">
                  <h4>{{ totalSalesForDay | number:'1.2-2' }}</h4>
                  <span>Sales Today</span>
                </a>
              </div>
              <div class="card">
                <a href="/manager/return">
                  <h4>{{ totalReturnsForMonth }}</h4>
                    <span>Total Returns</span>
                </a>
              </div>
            </div>
          </div>
  
          <!-- Sell & Customers -->
          <div class="sell-customers-section">
            <h3>Sell & Customers</h3>
            <div class="sell-customers-cards">
              <div class="sell-customer-card">
                <a href="/manager/membership">
                  <h4>{{ totalCustomers }}</h4>
                  <span>Total Customers</span>
                </a>
              </div>

              <div class="sell-customer-card">
                <a href="/manager/membership">
                  <h4>{{ customersForMonth }}</h4>
                  <span>New Customers</span>
                </a>
              </div>

              <div class="sell-customer-card">
                <a href="/manager/employeelist">
                  <h4>{{ totalEmployees }}</h4>
                  <span>Total Employees</span>
                </a>
              </div>

              <div class="sell-customer-card">
                <a href="/manager/employeelist">
                  <h4>{{ newEmployeesThisMonth }}</h4>
                  <span>New Employees</span>
                </a>
              </div>
              
            </div>
          </div>
  
          <!-- Products & Balance -->
          <div class="sell-customers-section">
            <h3>Products & Balance</h3>
            <div class="sell-customers-cards">
              <div class="sell-customer-card">
                <a href="/manager/productlist">
                  <h4>{{ totalProducts }}</h4>
                    <span>Total Products</span>
                </a>
              </div>

              <div class="sell-customer-card">
                <a href="/manager/stockalert">
                  <h4>{{ lowStockCount }}</h4>
                  <span>Low Stock Products</span>
                </a>
              </div>

              <div class="sell-customer-card">
                <a href="/manager/stockalert">
                  <h4>{{ outOfStockCount }}</h4>
                  <span>Out of Stock</span> 
                </a>
              </div>

            </div>
          </div>
  
          <!-- Suppliers -->
          <div class="sell-customers-section">
            <h3>Suppliers</h3>
            <div class="sell-customers-cards">
              <div class="sell-customer-card">
                <a href="/manager/supplierlist">
                  <h4>{{ totalSuppliers }}</h4>
                  <span>Total Suppliers</span> 
                </a>
              </div>

              <div class="sell-customer-card">
                <a href="/manager/purchaselist">
                  <h4>{{ totalPurchase }}</h4>
                  <span>Purchase this month</span> 
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Right Section: Sales Details -->
      <div class="sales-details">
        <!-- Title in a Box -->
        <div class="title-box">
          <h2>Branch Sales</h2><br> 
          <span>Last 7 Days</span>
        </div>
        <ul>
          <li *ngFor="let sale of branchSalesHistory" class="sales-item">
            <a href="#">
              <span>{{ sale.date }}</span>
              <span>{{ sale.amount }}</span>
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>
