/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 95%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 95%;
  padding: auto;
  margin: 15px;
  margin-left: 10%;
  margin-right: 20%;
}


.left-column {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}
.logo-container p{
  color: #000;
  font-size: 18px;
}

.forgot-link1 {
  text-align: center;
  display: block;
  margin-top: 10px;
  color:  #0b468e;
  font-size: 18px;
  text-decoration: none;
}

.forgot-link1:hover {
  color:  #083060;
}

.login-form {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  // border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.form-group {
  margin-bottom: 15px;

}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group button {
  width: 90%;
  padding: 10px;
  margin: 8px;
  background-color: rgb(25, 77, 119);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: rgb(7, 45, 88);
}

.submit-button {
  background-color: white;
  color: rgb(5, 62, 116);
  padding: 8px 25px;
  border-radius: 20px;
  border: 1px solid rgb(5, 62, 116);
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: rgb(15, 46, 71);
  color: white;
  border: 1px solid white;
}

.hover-link {
  color: rgb(15, 46, 71);
  text-decoration: none;
  margin-top: 10px;
  font-size: 14px;
}

.hover-link:hover {
  text-decoration: underline;
}


.right-column {
  flex: 50%;
  background-color: white;
  padding: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.login-button {
  background-color: rgb(22, 22, 85);
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: white;
  color: rgb(25, 77, 119);
  border: 1px solid rgb(25, 77, 119);
}

.heading {
  font-size: 28px;
  margin: 20px 0;
  padding-left: 20%;
  color: black;
  text-align: center;
  font-weight: bold;
}

span {
  color: rgb(64, 64, 185);
}


.paragraph {
  font-size: 18px;
  line-height: 1.6;
  padding-left: 20%;
  color: rgb(0, 0, 0);
  text-align: center;
}

.bottom-image {
  width: 100%;
  max-width: none;
  height: auto;
  align-self: center;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.circular-button {
  width: 85px;
  height: 85px;
  background-color: #f1f3f5;
  color: rgb(25, 77, 119);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.circular-button:hover {
  background-color: #5e9bdb;
  transform: scale(1.1);
}