<div class="d-flex"><app-side-navbar></app-side-navbar>
  <div class="main-content w-100">
    <div class="dashboard-container">
    <h4>Most Selling Products</h4>
    
    <div class="content-wrapper">
      <!-- Left: Product Table -->
      <table class="product-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Products</th>
            <th>Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td><img [src]="product.image" alt="Product Image" /></td>
            <td>{{ product.name }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.sales }}</td>
          </tr>
        </tbody>
      </table>
  
      <!-- Right: Stats Cards -->
      <div class="stats-cards">
        <a href="/products" class="card">
            <img src="/assets/cost.png" alt="Total Products" />
            <p>Total Products</p>
          </a>
          <a href="/customers" class="card">
            <img src="/assets/public-service.png" alt="Total Customers" />
            <p>Total Customers</p>
          </a>
          <a href="/suppliers" class="card">
            <img src="/assets/supply-chain-management.png" alt="Total Suppliers" />
            <p>Total Suppliers</p>
          </a>
          
      </div>
    </div>
  </div>
</div>
</div>
  